<!-- -*- mode: web -*- -->

<!DOCTYPE html>
<html>
  {{> partials/head}}
  <body class="contact">

    {{> partials/header}}

    <div class="container-fluid">
      <div class="row">

        <div class="col-xs-12 col-sm-offset-2 col-sm-2">

          <h2>Contact Us</h2>
          <address>
            <strong>Data Science Lab</strong><br/>
            3101 Shelby Center<br/>
            Auburn University<br/>
            Auburn, AL 36849<br/>
            <abbr title="Phone">P:</abbr> +1 (334) 844-6341
          </address>
        </div>

        <div class="col-xs-12 col-sm-6">
          <iframe width="600" height="450" frameborder="0"
                  style="border:0"
                  src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJY0FT8RrzjIgRTyOzm5Wgrvg&key=AIzaSyDsuWZtWf0nkhOXwxQmDt63pdbtRz3TQRY"
                  allowfullscreen></iframe>
        </div>
      </div>
    </div>

    {{> partials/footer}}

  </body>
</html>
