<!-- -*- mode: web -*- -->

<header>
  <nav class="navbar">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-offset-2 col-md-8">
          <ul class="nav nav-pills">
            {{#links}}
              <li class="{{active}}"><a href="/dslab/{{url}}">{{name}}</a></li>
            {{/links}}
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
