<!-- -*- mode: web -*- -->

<!DOCTYPE html>
<html>
  {{> partials/head}}
  <body>

    <div class="container">
      {{> partials/header}}

      <div class="row">
        <div class="col-xs-12 col-sm-offset-2 col-sm-8">
          <div class="intro">
            <img class="img-responsive" src="img/title_cloud.png">
            <p><b>Data Science Laboratory</b> (DS Lab) at Auburn University is directed by <a href="http://www.eng.auburn.edu/~weishinn/">Dr. Wei-Shinn (Jeff) Ku</a>. It is located at the second floor of Shelby Center for Engineering Technology room 2307.  The mission of DS Lab is to develop novel techniques in <em>data management</em>, <em>data analytics</em>, <em>knowledge discovery</em>, <em>data mining</em>, <em>cyber security</em> and beyond.
            </p>
          </div>

          <h3>Sponsors</h3>

          <div class="row sponsors">
            {{#sponsors}}
              <div class="col-xs-6 col-sm-3 col-lg-3">
                <a href="{{url}}" title="{{name}}">
                  <img class="img-responsive center-block" src="{{img}}">
                </a>
              </div>
            {{/sponsors}}
          </div>

        </div>

      </div>
    </div>

    {{> partials/footer}}
  </body>
</html>
