<!-- -*- mode: web -*- -->

<!DOCTYPE html>
<html>
  {{> partials/head}}
  <body class="project">

    <div class="container">

      {{> partials/header}}

      <div class="row">
        <div class="col-xs-12">
          <script src="http://bibbase.org/show?bib=http%3A%2F%2Fgongzhitaao.org%2Fdslab%2Fpublication%2Fweishinn-ku.bib&jsonp=1"></script>
        </div>
      </div>

    </div>

    {{> partials/footer}}
  </body>
</html>
