<!-- -*- mode: web -*- -->

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-offset-2 col-md-8">
        <p>&copy; 2016 Data Science Lab</p>
      </div>
    </div>
  </div>
</footer>

<script src="/dslab/js/script.js"></script>
